
.forCell{
  display: none;
}

.presentationElement h1{
color: #A09E9E;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.buttonStyle {
    color: #A09E9E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-right: 15px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.activeButton {
color: #77D894;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}


.videoElement{
    margin: auto;
}

.videoElement video{
  width: 80%;  
  margin-top: 30px;
  animation: video 1s ease-in; 
  border: none;
}

@keyframes video {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}


.bothElements{
    display: flex;
    flex-direction: row;
}


.bothRows{
    margin-top: 50px;
    width: 700px;
}

#rows{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
}

#row{
   width: 230px;
}

#row h3{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
    margin-bottom: 20px;
}

#row ul li {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    list-style-type: circle; 
    line-height: 1.2;
}

.myImage img {
    width: 380px;
    position: fixed;
    bottom: 0;
    left: 750px;
    animation: nbertinat 1s ease-in; 
  }
  
  @keyframes nbertinat {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }



  
@media screen and (max-width: 480px) {

.forCell{
  display: block;
  width: 80vw;
}


.forCell h3{
  color: #A09E9E;;
  font-size: 35px;
  font-weight: 500; 
  margin-bottom: 20px;
  margin-top: 50px;
  width: 200px;
}

.forCell p{
width: 90%;
line-height: 1.5;

}

  .videoElement video{
    width: 100%;
  }
  }

  
    @media screen and (max-width: 1400px) {

    .myImage img{
      display: none;
    }

    }


    @media screen and (max-width: 768px) {

      #rows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;

      }

      #row{
        margin-top: 0px;
        margin-bottom: 0px;
      }

      #row h3{
        margin-top: 20px;
      }

      .bothElements{
        margin-top: 0px;
      }

      .bothRows{
        margin-bottom: 50px;
      }

      }


      @media screen and (min-width: 1920px) {

        .myImage img {
          width: 450px;
          position: fixed;
          bottom: 0;
          left: 1000px;
        }

        #row h3{
          font-size: 25px;
        }

        #rows{
          width: 990px;
          margin-bottom: 100px;
        }

        #row{
          width: 330px;
        }

        #row ul li{
          font-size: 19px;
        }
      


      }




  


  
  




