.presentationElement h1{
color: #A09E9E;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.buttonStyle {
    color: #A09E9E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-right: 15px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.activeButton {
color: #77D894;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}


.videoElement{
    margin: auto;
}

.videoElement video{
  width: 800px;  
  margin-top: 30px;
}


.bothElements{
    display: flex;
    flex-direction: row;
}


.bothRows{
    margin-top: 50px;
    width: 700px;
}

#rows{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
}

#row{
   width: 230px;
   
}

#row h3{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
    margin-bottom: 20px;
}

#row ul li {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    list-style-type: circle; 
    line-height: 1.2;
}

.myImage img{
    width: 380px;
    margin-right:0px;
}




