
.forCell{
  display: none;
}


.videoElement video{
  width: 80%;  
  margin-left: 90px;
  margin-top: 40px;
  animation: video 1s ease-in; 
  border: none;
}

@keyframes video {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}



  




  


  
  




