
.forCell{
  display: none;
}


.videoElement{
  display: flex;
  justify-content: center;
  }

.videoElement video{
  width: 85%;  
  margin-top: 40px;
  animation: video 1s ease-in; 
  border: none;
}

@keyframes video {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}



  




  


  
  




