.portfolioElements h1{
        color: #A09E9E;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;   
}

.behancePortfolio {
  display: flex;
  flex-wrap: wrap;
  animation: elementRow 1s ease-in; 
  width: 85%;
  margin: auto;
  margin-top: 30px;
}


        @keyframes elementRow {
          from {
            opacity: 0; 
          }
          to {
            opacity: 1; 
          }
        }
    
        .behancePortfolio a {
          flex-grow: 1;
          flex-basis: 25%; 
          max-width: 25%; 
          margin-right: 20px;
          margin-top: 20px;
      }
    
      .behancePortfolio img {
        width: 100%; 
        height: auto; 
    }
    
    .behancePortfolio a:hover img {
      border-radius: 30px;
      border: solid 2px #77D894;
      opacity: 0.5;
    }

     /* Responsive area*/

    @media screen and (min-width: 1920px) {
   
      .behancePortfolio{
        width: 90%;
        margin: auto;
        margin-left: 200px;
        margin-top: 50px;
      }

    }



    
    @media screen and (max-width: 1100px) {

      .behancePortfolio {
        display: flex;
        flex-wrap: wrap; 
        width: 100vw;
      }
      
      
              .behancePortfolio a {
                flex-grow: 1;
                flex-basis: 25%; 
                max-width: 25%; 
                margin-right: 20px;
                margin-top: 20px;
            }
          
            .behancePortfolio img {
              width: 100%; 
              height: auto; 
          }
    }

    @media only screen and (max-width: 480px) {
      .behancePortfolio {
        display: flex;
        flex-wrap: wrap; 
        width: 70vw;
        padding-bottom: 40px;
      }
      
      .behancePortfolio a {
          flex-basis: 100%; 
          max-width: 100%; 
          margin-right: 0; 
          margin-top: 20px;
      }
  
      .behancePortfolio img {
          width: 100%; 
      }
  }
  
  
      


 
      

  

   