
/* Education */

.education{
    width: 85%;
    margin: auto;
    animation: elementRow 0.5s ease-in;
}

.education__title{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 7vh;
    margin-bottom: 5vh;
}
.education__degree {
    display: flex;
    align-items: center;
}

.education__image {
    width: 6rem;
    margin-right: 0.5rem;
}

.education__image:hover {
    opacity: 0.5;
}

.education__row {
    display: flex;
    margin-bottom: 6vh;
}

.education__cards {
    padding: 10px;
    margin-right: 30px;
    width: 20vw;
}

.education__cards h3 {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
}

.education__cards h4 {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 1rem;
}

.education__cards p {
    font-size: 1.2rem
}


/* Bootcamps */

.generalBootcamp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(109, 107, 107);
    padding: 20px;
    border-radius: 20px;
}

.bootcamp {
    margin-right: 10px;
    display: inline-block;
}

.bootcamp h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.bootcamp h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.bootcamp p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.titleElement {
    width: 900px;
    margin-bottom: 30px;
    animation: elementRow 1.5s ease-in;
}

.titleElement p {
    color: #626262;
    font-size: 2rem;
}

.titleElement h3 {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-top: 23px;
}

.titleElement h2 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 23px;
    width: 700px;
}

.titleBootcamp {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 5vh;
}