@media screen and (max-width: 1500px) {
    
    
    .imageContainer {
       margin-right: 1vw;
      }
    
    
    .imageContainer img {
        width: 60px;
      }
      
      .imageContainer p {
        font-size: 10px;
        margin-bottom: 3vh;
      }

      .designPrograms {
        justify-content: flex-start;
      }

  }




@media screen and (max-width: 480px) {
    .imageContainer {
        margin-bottom: 10px;
        margin-right: 2px;
        
      }

    
     
      
  
  }
  