
.contactAndPhoto{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;
margin-top: 10vh;
}

.linkedinPhoto img{
width: 25vw;
border-radius: 25px;
border: solid 1px #77D894;
padding: 10px;
}

.linkedinPhoto img:hover{
    opacity: 0.5;
    }

.contact{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    justify-content: center;
    align-items: flex-start;
  ;
}

.contact__element {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 50px;
    margin-left:80px;
}

.contact__element img {
    width: 4vw;
    margin-right: 20px;
}


.contact__element a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: medium;
    margin-left: 1vw;
}


.contact__element a:hover {
 color:#77D894 ;
}

.contact__element h4 {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: medium;
    margin-left: 1vw;
}
@media only screen and (max-width: 1000px) {
    .linkedinPhoto{
        display: none;
    }
}


@media only screen and (max-width: 768px) {

    .contact__element h4 {
     font-size: 4vw;
    }

    .contact__element a {
        font-size: 4vw;
    }

    .contact__element img {
        width: 8vw;
        margin-right: 20px;
    }
    .contact__element {
        margin-left:0px;
    }

   
}



