
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 40vw;
  animation: fadeIn 2s ease-in-out; 
}

.languages__image {
  width: 80px;
  margin-right: 6rem;
  margin-top: 3rem;
}

.languages__paragraph {
  text-align: center;
  font-size: 13px;
  margin-right: 6rem;
}
