/* Laptop */
@media screen and (max-width: 1500px) {
  .languages {
      margin-top: 3rem;
      margin-bottom: 2rem;
      width: 35vw;
  }

  .languages__container {
      width: 6vw;
      margin-right: 1rem;
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
  }

  .languages__image {
      width: 60px;
      margin-right: 0; 
      margin-top: 4vh;
  }

  .languages__paragraph {
      font-size: 1vw;
      text-align: center;
      margin: 0px;
      padding-top: 10px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .languages {
      width: 90%;
      padding-bottom: 20px;
      justify-content: flex-start;
  }

  .languages__container {
      width: 20vw;
      margin-right: 1rem;
      display: flex;
      justify-content: space-between; 
      align-items: space-around; 
      flex-wrap: wrap;
      margin-left: 0px;
      margin-bottom: 1rem;
  }

  .languages__image {
      width: 10vw;
      margin-top: 3vh;
  }

  .languages__paragraph {
      font-size: 2vw;
  }
}

/* Celular */
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .languages {
    width: 70%;
    flex-wrap: wrap;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
  }

  .languages__container {
    width: auto;
    margin: 0;
    display: flex;
    margin-top: 3vh ;
    margin-right: 5vw;

  }

  .languages__image {
    width: 60px; 
    margin-bottom: 0.5rem; 
    

  }

  .languages__paragraph {
    font-size: 10px;
    text-align: center;
    margin: 0; 
    padding: 0; 
  }
}
