.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 40vw;
}

.languages__image {
  width: 80px;
  margin-right: 6rem;
  margin-top: 3rem;
}

.languages__paragraph {
  text-align: center;
  font-size: 13px;
  margin-right: 6rem;
}
