.menu-open .navBar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: space-between;
  width: 100vw;
}

  
  .navBar {
    background-color: hsl(138, 55%, 66%);
    width: 20%;
    height: 100vh;
    animation: expandMenu 1s ease-out; 
  }

  @keyframes expandMenu {
    from {
      width: -0%; 
    }
    to {
      width: 20%; 
    }
  }

.navBar ul{
   margin-top: 200px; 
}

.navBar ul li{
display: flex;
justify-content: center;
}

.navBar ul li a{
  margin-top: 35px;
  color: #FFF;
font-size: 2.2rem;
font-style: normal;
font-weight: bold;
line-height: normal;
animation: apearceMenu 2s ease-in; 
    }

    @keyframes apearceMenu {
      from {
        opacity: 0; 
      }
      to {
        opacity: 1; 
      }
    }
  

.navBar ul li a.active {
color: #007B24; 
      }


.elements{
  margin-top: 60px;
  width: 80%;
}

header{
display: flex;
justify-content:space-between;
align-items: center;
border-bottom: 1px solid #77D894;
margin-top: -30px;
}

header img{
  width: 160px;
  margin-left: 70px;
  margin-bottom: 20px;

}

header h4{
padding-right: 70px;
color: #A09E9E;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
margin-bottom: 20px;
animation: headerh4 1s ease-in; 
}


@keyframes headerh4 {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.routes{
  margin-top: 50px;
  padding-left: 60px;
}

.socialMedia{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

  .socialMedia img{
    width: 50px;
   padding: 10px;
  }

  .socialMedia img:hover{
   opacity: 0.5;
  }
  
.menuToggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  transition: transform 0.3s ease;
}

.rotate-top {
  transform: translateY(8px) rotate(45deg);
}

.rotate-bottom {
  transform: translateY(-8px) rotate(45deg);
}

.hide {
  opacity: 0;
}

.menuToggle.active .bar {
  background-color: transparent;
}

.menuToggle.active .rotate-top {
  transform: translateY(0px) rotate(45deg);
}

.menuToggle.active .rotate-bottom {
  transform: translateY(0px) rotate(45deg);
}

