*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    background-image: url('https://imgur.com/B6jrfUC.png');

    background-size: cover;
}


