.portfolioElements{
  width: 85%;
  margin: auto;
}


.portfolio {
  display: flex;
  flex-wrap: wrap;
  animation: elementRow 1s ease-in; 
  padding-top: 5vh;
  margin-left: 7%;


}


        @keyframes elementRow {
          from {
            opacity: 0; 
          }
          to {
            opacity: 1; 
          }
        }
    
        .portfolio a {
          flex-grow: 1;
          flex-basis: 25%; 
          max-width: 50%; 
          margin-top: 20px;
      }
    
      .portfolio__image {
        width: 19vw; 
        height: auto; 
    }

    .portfolio__image:hover {
      border-radius: 30px;
      border: solid 2px #77D894;
      opacity: 0.5;
  }
    
 
     