/* Tablets*/

@media only screen and (max-width: 1500px) {

.portfolio{
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 7%;
}

  .portfolio__image {
    width: 15vw; 
  }

  .HideForMobile__paragraph{
    margin-top: 1rem;
    max-width: 90%;
    line-height: 1.5;
    font-size: 1rem;
    color: #676666;
    margin-left: 7%;
  }
  

}


/* Tablet*/

@media only screen and (max-width: 768px) {


  .portfolio a {
    flex-grow: 1;
    flex-basis: 25%; 
    max-width: 80%; 
    margin-right: 1vw;
    margin-top: 20px;
}

.portfolio {
  width: 60vw; 

}

.portfolio__image {
  width: 29vw; 
  height: auto; 
}

}

 
/* Cellphone*/
  @media only screen and (max-width: 480px) {

    .portfolioElements{
      width: 100vw;
      margin: auto;
    
    }


    .portfolio {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; 
      width: 100vw;
      padding-bottom: 40px;
      padding-bottom: 140px;
      margin: 0px;
    }
    
    .portfolio a {
        flex-basis: 100%; 
       width: 100%; 
       display: flex;
       justify-content: center;
        margin-right: 0; 
        margin-top: 20px;
    }

    .portfolio__image {
        width: 90%;  
    }
    .HideForMobile__paragraph{
      max-width: 80%;
      text-align: center;
    }


}


    



    



 